body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #edf4ff;
  background-image: linear-gradient(to right, #d4f6fc 10% , white 17%, white 83%, #d4f6fc 90%);
}

main {
  margin: 0 auto;
  width: 60%;
  background-color: white;
  padding: 2rem;
}

img {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: solid 4px black;
}

ul {
  display: flex;
}

li {
  margin: 0 1.2rem;
  list-style: none;
}

nav {
  background-color: lightblue;
  display: flex;
  padding: 0.5rem;
  font-size: 1.4rem;
}

footer {
  margin-top: auto;
  background-color: lightblue;
  padding: 0.5rem;
}

section {
  margin-bottom: 5rem;
}

img.spimg {
  border: solid 4px black;
}